

body {
    font-family: Arial, sans-serif;
    background-color: wheat;
}


header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
}

main.about {
    padding: 20px;
}

.chef-info img {
    width: 300px;
    border-radius: 5px;
    margin-top: 20px;
}

footer {
    background-color: #333;
    color: whitesmoke;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
}
img{
    box-shadow: 5px 8px darkgrey;
}
.navbar-expand-lg{
    font-weight: lighter;
    font-size: 20px;
    color: whitesmoke;
    font-style: normal;
    background-color: #333;
}
h1{
    margin-bottom: 50px;
    background-color: #333;
    color: antiquewhite;
    font-family: initial;
    font-weight: bold;
}
.section-title{
    margin-bottom: 10vh;
    margin-top: 0;
    margin-left: 0%;
    background-color: darkgray;
    font-style: italic;
    font-weight:initial
}
p{
    font-style: oblique;
    font-size: larger;
}
.chef-chef{
display: inline-block;
}
h3{
text-size:70px;
}


.chef-info{
    max-width: 100%;
    max-height: 100%;
    margin: 0px; 
}
